body {
  text-align: center
}

.App {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px
}

.actor-pic {
  width: 20px
}

.actor-name {
  width: 110px
}

.break-word {
  width: 30px
}